* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.continer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30vh;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    /* max-width: 50vh; */
    width: 50vh;
    height: 50vh;
    margin-left: 40%;
}

#number {
    width: 40vh;
    height: 20px;
    padding: 2px 8px;
    border: none;
}

#btn {
    width: 20vh;
    height: 5vh;
    background-color: rgb(6, 12, 12);
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

#